
<head>
  <link href="https://fonts.googleapis.com/css?family=Architects+Daughter" rel="stylesheet">
  <link rel='stylesheet' href='/stylesheets/main.css'>
</head>
<div class="homepage">

  <div id="header">
    <h1 id="mainheading">what's in the fridge?</h1>
    <div class="nav">
    <ul>
      <li><a class="navoption" href="/">home</li></a>
      <li><a class="navoption" href="/sign_in">sign in</li></a>
      <li><a class="navoption" href="/ingredients">try for free</li></a>
      <li><a class="navoption" href="/contact">contact</li></a>
    </ul>
    </div>
  </div>
  <div id="content">
    <h2>newest features</h2>
    <div class="article">
      <h2>search for recipes</h2>
    </div>
    <div class="article1">
      <a href="/sign_up"><h2>sign up</h2></a>
    </div>

  </div>
  <div id="sidebar">
    <h2>ad's</h2>
    <div id="ad1">
    </div>
    <div id="ad2">
    </div>
  </div>
  <div id="footer">
<p>&copy copyright 2017</p>
  </div>
</div>
