<head>
  <link href="https://fonts.googleapis.com/css?family=Architects+Daughter" rel="stylesheet">
  <link rel='stylesheet' href='/stylesheets/recipe_list.css'>
</head>
<h1>RECIPE RESULTS</h1>



<button>Back</button>

<% @recipes.each do |result|%>
  <a href="<%= result['link']%>"><li><%= result['name'] %></li></a>


<% end %>

<script type="text/javascript">
  document.querySelector('button').addEventListener('click', function() {

    history.back();
  })
</script>
