<!doctype html>
<html lang="en">
<head>

  <title>What's in the Fridge?</title>
  
</head>
<body>


<% if session[:user_id] %>
  logged in as <%= current_user.email %>
  <form action="/session" method="post">
    <input type="hidden" name="_method" value="delete">
    <button>log out</button>
  </form>
<% end %>

<%= yield %>

</body>
</html>
