<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>What's in the Fridge?</title>
  <link href="https://fonts.googleapis.com/css?family=Architects+Daughter" rel="stylesheet">
  <link rel='stylesheet' href='/stylesheets/main.css'>
</head>
<body>


<% if session[:user_id] %>
  logged in as <%= current_user.email %>
  <form action="/session" method="post">
    <input type="hidden" name="_method" value="delete">
    <button>log out</button>
  </form>
<% end %>

<%= yield %>
<p>&copy copyright 2017</p>
</body>
</html>
