<h1>signing in</h1>
<fieldset>
  <legend> log in details  </legend>
<form  action="/sessions" method="post">
  <label for="">email</label><br />
  <input type="text" name="email"><br />

  <label for="">password</label><br/>
  <input type="password" name="password"><br />
  <button>login</button>
</form>
</fieldset>

<a href="/"><button>Back</button></a>
