<h1>signing in</h1>
<head>
  <link href="https://fonts.googleapis.com/css?family=Architects+Daughter" rel="stylesheet">
  <link rel='stylesheet' href='/stylesheets/sign_in.css'>
</head>

<fieldset>
  <legend> log in details  </legend>
<form  action="/sessions" method="post">
  <label for="">email</label><br />
  <input type="text" name="email"><br />

  <label for="">password</label><br/>
  <input type="password" name="password"><br />
  <button>login</button>
</form>

<a href="/"><button>Back</button></a>
</fieldset>
